<div class="ui-g ui-g-6">
  <p-tabView>

    <p-tabPanel header="Basic Info" leftIcon="fa-info">

      <div class="card">
        <div class="ui-g card-title">
          <h2>Basic Info</h2>
        </div>

        <div class="ui-md-3">
          <label>
            <strong>ID</strong>
          </label>
          <input pInputText type="text" [(ngModel)]="employee.id" name="Id">
        </div>

        <div class="ui-md-3">
          <label>
            <strong>Title</strong>
          </label>
          <input pInputText type="text" [(ngModel)]="employee.title" name="Title" #Title="ngModel">
        </div>

        <div class="ui-md-3">
          <label>
            <strong>First Name</strong>
          </label>
          <input pInputText type="text" [(ngModel)]="employee.firstName">
        </div>

        <div class="ui-md-3">
          <label>
            <strong>Last Name</strong>
          </label>
          <input pInputText type="text" [(ngModel)]="employee.lastName" name="LastName" #LastName="ngModel">
        </div>

        <div class="ui-md-3">
          <label>
            <strong>Date of Birth</strong>
          </label>
          <p-calendar dateFormat="dd/mm/yy" placeholder="dd/mm/yy" readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true"
            [(ngModel)]="employee.dateOfBirth" name="DateOfBirth" [utc]="true" required></p-calendar>
        </div>

        <div class="ui-md-6">
          <button type="button" pButton (click)="onCreate()" label="Create" class="detail-btn"></button>

          <button type="button" pButton (click)="onEdit()" label="Edit" class="detail-btn"></button>
        </div>
      </div>

      <app-employee-list [employeeList]="employeeList" (rowClick)="loadEmployeeDetails($event)" [(employee)]="employee"></app-employee-list>

    </p-tabPanel>

    <p-tabPanel header="Projects">

      <div class="card">

        <div class="ui-g card-title">
          <h2>Projects related to employee {{employee.firstName + ' ' + employee.lastName}}</h2>
        </div>

        <app-projects-list [(projectList)]="projects"></app-projects-list>

      </div>

      <app-employee-list [employeeList]="employeeList" (rowClick)="loadEmployeeProjects($event)" [(employee)]="employee"></app-employee-list>

    </p-tabPanel>

  </p-tabView>
</div>

<div class="ui-g-3">
  <p-messages [value]="msgs"></p-messages>
</div>