<div class="ui-g ui-g-6">

  <div class="card">
    <div class="ui-g card-title">
      <h2>Basic Info</h2>
    </div>

    <div class="ui-md-6">
      <label>ID</label>
      <input pInputText type="text" [(ngModel)]="project.id" name="Id">
    </div>

    <div class="ui-md-6">
      <label>Name </label>
      <input pInputText type="text" [(ngModel)]="project.name" name="Name">
    </div>

    <div class="ui-md-6">
      <label>Start date</label>
      <p-calendar dateFormat="dd/mm/yy" placeholder="dd/mm/yy" readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true"
        [(ngModel)]="project.startDate" name="StartDate" [utc]="true" required></p-calendar>
    </div>

    <div class="ui-md-6">
      <label>End Date</label>
      <p-calendar dateFormat="dd/mm/yy" placeholder="dd/mm/yy" readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true"
        [(ngModel)]="project.endDate" name="EndDate" [utc]="true" required></p-calendar>
    </div>

    <div class="ui-md-6">
      <label>Status </label>
      <div>{{project.status | projectStatus}}</div>
      <!-- <input pInputText type="text" [(ngModel)]="project.status" name="Name"> -->
    </div>

    <!-- <div class="ui-md-6">
      <label>Status</label>
      <p-dropdown [options]="list" name="Status" [(ngModel)]="project.status" required></p-dropdown>
    </div> -->

    <div class="ui-g-6">
      <button type="button" pButton (click)="onCreate()" label="Create" class="detail-btn"></button>
    </div>
    <div class="ui-g-6">
      <button type="button" pButton (click)="onEdit()" label="Edit" class="detail-btn"></button>
    </div>


  </div>
  <div class="card">
    <div class="ui-g card-title">
      <h2>Projects</h2>
    </div>

    <p-dataTable emptyMessage="No records found" [paginator]=true [value]="projectList" (onRowClick)="onRowClick($event)" [rows]="15"
      [lazy]="true" [totalRecords]="projectList.count">
      <p-column field="id" header="ID"></p-column>
      <p-column field="name" header="Name"></p-column>
    </p-dataTable>
  </div>
</div>